*{
    margin: 0;
    padding: 0;
}

#body{
    scroll-behavior: smooth;
    background: linear-gradient(0deg, rgba(31,31,31,1) 28%, rgba(0,0,0,1) 100%) !important;
    background-size: 1980px 1080px;
}

/* ------------------------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------ HEADER -----------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------------------------------ */
#menu{
    border: 0px solid #fff;
    height: 70px;
    width: 100%;
    background-color: transparent;
    position: fixed;
    margin-top: -100px;
    z-index: 99;
}

#menu.sticky{
    background-color: #121212;
    border-bottom: 2px solid rgb(43, 43, 43);
    height: 70px;
    z-index: 99;
    transition: all 0.2s ease-in-out;
}

#logo{
    border: 0px solid #fff;
    width: 100px;
    height: 40px;
    background-image: url(img/pellicula.png);
    background-size: 100px 40px;
    float: left;
    margin-top: 12px;
    margin-left: 30px;
}

#ul{
    border: 0px solid #000;
    width: 520px;
    height: 20px;
    margin-top: 20px;
}

li{
    display: inline;
    list-style: none;
    font-family: 'Lato', sans-serif;
    font-size: 14pt;
    margin: 0 0 0 35px;
    position: relative;
    color: #fff;
}

#ul > li > a:hover{
    color: rgb(248, 248, 248);
}


#ul > li > a{
    text-decoration: none;
    color: #fff;
}

#ul > li > a::after{
    content: " ";
    width: 0%;
    height: 2px;
    border-radius: 3px;
    background-color: #e50914;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease;
}

#ul > li > a:hover::after{
    width: 100%;
}

#icon_user{
    /* border: 1px solid black; */
    display: none; /* DISPLAY LOGIN*/
    width: 50px;
    height: 30px;
    text-align: center;
    margin-top: -32px;
    margin-right: 10px;
    float: right;
    color: #fff;
    transition: all 0.5s ease-in-out;
}

#icon_user2{
    /* border: 1px solid black; */
    display: block; /* DISPLAY LOGIN*/
    width: 50px;
    height: 30px;
    text-align: center;
    margin-top: -32px;
    margin-right: 10px;
    float: right;
    color: #fff;
    transition: all 0.5s ease-in-out;
}

#icon_user:hover{
    color: #e50914;
}

#user{
    display: none; /* DISPLAY LOGIN*/
    width: 100%;
    height: 100%;
}

#btnLogin{
    display: block; /* DISPLAY LOGIN*/
    cursor: pointer;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    font-size: 10pt;
    border-radius: 3px;
    border: none;
    background-color: #e50914;
    margin-top: -35px;
    margin-right: -100px;
    padding: 8px;
    width: 90px;
    height: 35px;
    float: right;
    transition: .6s ease;
    color: #fff;
    letter-spacing: 2px;
}

#btnLogin2{
    display: none; /* DISPLAY LOGIN*/
    cursor: pointer;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    font-size: 10pt;
    border-radius: 3px;
    border: none;
    background-color: #e50914;
    margin-top: -35px;
    margin-right: -100px;
    padding: 8px;
    width: 90px;
    height: 35px;
    float: right;
    transition: .6s ease;
    color: #fff;
    letter-spacing: 2px;
}


#btnLogin:hover{
    background-color: #ac040c;
}

#pesquisa {
    width: 240px;
    height: 35px;
    float: right;
    margin-top: -40px;
    margin-right: 110px;
    position: relative;
}

#barra_pesquisa {
    width: 100%;
    height: 34px;
    padding-left: 10px; 
    font-size: 12pt;
    outline: none;
    border: none;
    border-radius: 20px;
}

#lupa {
    position: absolute;
    top:18%;
    left: 88%;
}

button{
    border: none;
}

/* !!!!! INÍCIO MENU BARRA LATERAL !!!!! */
#toggle {
    display: none; /* aqui*/
    width: 28px;
    height: 30px;
    margin: 30px 0 0 140px;
    position: relative;
}
  
#toggle span:after,
#toggle span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px;
}

#toggle span:after{
    top: 9px;
}

#toggle span {
    position: relative;
    display: block;
}
  
#toggle span,
#toggle span:after,
#toggle span:before {
    width: 100%;
    height: 5px;
    background-color: #888;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px;
}
  
#toggle.on span {
    background-color: transparent;
}

#toggle.on span:before {
    transform: rotate(45deg) translate(5px, 5px);
}

#toggle.on span:after {
    transform: rotate(-45deg) translate(7px, -8px);
}

#toggle.on + #menuu {
    opacity: 1;
    visibility: visible;
}
  
#menuu {
    display: none; /* aqui*/
    /* position: relative; */
    color: #999;
    width: 200px;
    padding: 10px;
    margin: 0 0 0 50px;
    font-family: "Segoe UI", Candara, "Bitstream Vera Sans";
    text-align: center;
    border-radius: 4px;
    background: white;
    box-shadow: 0 1px 8px rgba(0,0,0,0.05);
    opacity: 0;
    transition: opacity .4s;
}

#menuu:after {
    position: absolute;
    top: -20px;
    left: 155px;
    content: "";
    display: block;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid white;
}

#ulMenu, .liMenu, .a {
    list-style: none;
    display: none; /* aqui*/
    margin: 0;
    padding: 0;
}

.liMenu .a {
    padding: 10px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: all .2s;
}

.liMenu .a:hover,
.liMenu .a:focus {
    background: #e50914;
    color: #fff;
}

/* !!!!! FIM MENU BARRA LATERAL !!!!! */

/* ------------------------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------- MAIN ------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------------------------------ */

main {
    border: 0px solid blue;
    padding: 25px;
    padding-top: 5px;
    height: auto;
    width: 100%;
    display:flex;
    margin-top: 100px;
    flex-wrap: wrap;
}

#carousel {
    border: 0px solid #000;
    width: 335px;
    height: 465px;
    border-radius: 3px;
    float: left;
    margin-top: 3vh;
    background-image: url();
    background-size: 100%;
    transition: all 0.5s ease-in-out;
}

#article1 {
    border: 0px solid;
    height: auto;
    width: 72.5%;
    float: right;
}

#article2 {
    border: 0px solid;
    height: auto;
    width: auto;
    margin:0 auto;
}

main > article > article > section { 
    height: 35vh;
    border: 0px solid;
    margin-left: 2%;
    display:flex;
    flex-wrap: wrap;
    width: 24.5vh;
    float:left;
    margin-top: 20px;
}

.logofilme {
    border: 0px solid;
    height: 80%;
    width: 100%;
    background-image: url(img/after.jpg);
    background-size: 100%;
    cursor: pointer;
    transition: all 0.8s ease-in-out;
    border-radius: 3px;
}

.logofilme:hover{
    background-size: 120%;
}

.nomefilme {
    border: 0px solid;
    height: 20%;
    width: 100%;
}

.nomefilme > h4{
    font-size: 12pt;
    color: #fff;
    margin-top: 2px;
}

.btnSubmit{
    border: 0px solid red !important;
    margin-left: -165px; 
    margin-top: 0px; 
    width: 163px; 
    height: 186px; 
    position: absolute; 
    background-color: transparent; 
    border:none;
}

/* ------------------------------------------------------------------------------------------------------------------------------------ */
/* -------------------------------------------------------------- FOOTER ---------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------------------------------ */

footer{
    border: 0px solid #fff;
    border-top: 2px solid rgb(43, 43, 43);
    width: 100%;
    height: 120px;
    margin-top: 30px;
    text-align: center;
}

#logoFooter{
    border: 0px solid #fff;
    width: 100px;
    height: 40px;
    background-image: url(img/pellicula.png);
    background-size: 100px 40px;
    float: left;
    margin-top: 35px;
    margin-left: 30px;
}

#copy{
    color: rgb(184, 184, 184);
    font-size: 10pt;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
}

#contactFooter{
    float: right;
    color: rgb(184, 184, 184);
    font-size: 10pt;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
    margin-right: 15px;
}


/* ------------------------------------------------------------------------------------------------------------------------------------ */
/* ---------------------------------------------------------- RESPONSIVIDADE------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------------------------------ */  
@media only screen and (max-width: 1319px) {
    
    #carousel {
        float: none;
        margin: 0 auto;
        width: 300px;
        height: 400px;
    }
    
    #article1 {
        float: none;
        height: auto;
        display: flex;
        margin: 0 auto;
        margin-top: 2%;
        width: 900px;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 950px){

    #article1{
        width: 510px;
    }
}

@media only screen and (max-width: 800px){
    
    li{
        display: none; /* aqui*/
    }

    #toggle {
        display: block; /* aqui*/
    }

    #menuu{
        display: block;
    }

    #ulMenu, .liMenu, .a {
        display: block; /* aqui*/
    }

    #btnLogin{
        margin-top: -34px;
        margin-right: -100px;
        width: 90px;
        height: 35px;
    }

    #icon_user{
        margin-top: -263px;
    }
    
    #pesquisa {
        width: 240px;
        height: 35px;
        margin-top: -265px;
        margin-right: 110px;
    }
}


@media only screen and (max-width: 569px){
    #article2{
        width: 340px;
    }
}

@media only screen and (max-width: 540px){
    #logo{
        border: 0px solid #fff;
        width: 90px;
        height: 30px;
        background-image: url(img/pellicula.png);
        background-size: 90px 30px;
        float: left;
        margin-top: 18px;
        margin-left: 5px;
    }

    #menuu {
        width: 140px;
    }

    #ulMenu, .liMenu, .a {
        font-size: 10pt;
    }

    #icon_user{ 
        margin-top: 18px;
        margin-right: 0px;
        margin-top: -184px;
    }

    #pesquisa {
        width: 175px;
        height: 25px;
        float: right;
        margin-right: 25%;
        margin-top: -240px;
        position: relative;
    }

    #btnLogin{
        margin-top: -34px;
        margin-right: -110px;
        width: 90px;
        height: 35px;
    }

    #icon_user{
        margin-top: -240px;
    }

    #toggle {
        width: 25px;
        height: 30px;
        margin: 30px 0 0 105px;
    }

    .ranking > p{
        font-size: 8pt;
    }

    .nota > p{
        font-size: 8pt;
    }

    #article2{
        width: 340px;
    }

    .titulo > p{
        font-size: 8pt;
    }
    
    #logoFooter{
        border: 0px solid #fff;
        width: 90px;
        height: 30px;
        background-image: url(img/pellicula.png);
        background-size: 90px 30px;
        float: left;
        margin-top: 40px;
        margin-left: 5px;
    }
    
    #copy{
        font-size: 8pt;
    }
    
    #contactFooter{
        font-size: 8pt;
    }
}

@media only screen and (max-width: 415px){
    
    #logo{
        border: 0px solid #fff;
        width: 90px;
        height: 30px;
        background-image: url(img/pellicula.png);
        background-size: 90px 30px;
        float: left;
        margin-top: 18px;
        margin-left: 5px;
    }

    #menuu {
        width: 140px;
    }

    #ulMenu, .liMenu, .a {
        font-size: 10pt;
    }

    #icon_user{ 
        margin-top: 18px;
        margin-right: 0px;
        margin-top: -184px;
    }

    #pesquisa {
        width: 145px;
        height: 10px;
        margin-right: 18%;
        margin-top: -238px;
        position: relative;
    }

    #barra_pesquisa {
        width: 100%;
        height: 27px;
        padding-left: 10px; 
        font-size: 9pt;
        outline: none;
        border: none;
        border-radius: 20px;
    }

    #lupa {
        position: absolute;
        top:40%;
        left: 88%;
        width: 14px;
    }

    #btnLogin{
        font-size: 8pt;
        margin-top: -26px;
        margin-right: -60px;
        padding: 0px;
        width: 50px;
        height: 25px;
        letter-spacing: 1px;
    }

    #icon_user{
        margin-top: -240px;
    }

    #toggle {
        width: 25px;
        height: 30px;
        margin: 30px 0 0 105px;
    }

    .ranking > p{
        font-size: 8pt;
    }

    .nota > p{
        font-size: 8pt;
    }

    .titulo > p{
        font-size: 8pt;
    }
    
    #logoFooter{
        border: 0px solid #fff;
        width: 60px;
        height: 30px;
        background-image: url(img/pellicula.png);
        background-size: 60px 30px;
        float: left;
        margin-top: 40px;
        margin-left: 5px;
    }
    
    #copy{
        font-size: 7pt;
    }
    
    #contactFooter{
        font-size: 8pt;
    }

    #carousel {
        border: 0px solid #000;
        width: 200px;
        height: 290px;
        border-radius: 3px;
        margin-top: -20px;
        background-image: url();
        background-size: 100%;
        transition: all 0.5s ease-in-out;
    }

    main > article > article > section {
        border: 0px solid red !important;
        margin: 0;
        width: 13vh;
        height: 140px;
        margin-top: 25px;
    }

    .logofilme{
        border: 0px solid red !important;
        width: 100px;
        height: 90px;
        margin: 0;
    }

    .nomefilme{
        border: 0px solid red !important;
        width: 80px;
    }

    .nomefilme > h4{
        font-size: 8pt;
    }

    #article1{
        border: 0px solid red !important;
        width: auto;
    }

    #article2{
        border: 0px solid red !important;
        width: 260px;
        display:flex;
        flex-wrap: wrap;
        gap: 35px;
        justify-content: center;
        justify-items: center;
    }

    .btnSubmit{
        margin-left: 0; 
        margin-top: -100px; 
        width: 90px; 
        height: 90px; 
        position: absolute; 
        background-color: transparent; 
        border:none;
    }
}
